<h1 class="display-4" style="margin: 20px 0">Horses</h1>

<div *ngIf="!error">
    <a role="button" class="btn btn-primary" style="margin-bottom: 20px;" routerLink="new">New Horse</a>

    <div *ngIf="horses$ | async" class="row">
        <div *ngFor="let horse of horses$ | async" class="col-md-6" style="padding-bottom: 20px;">
            <app-horse-card [horse]="horse"></app-horse-card>
        </div>
    </div>

    <p *ngIf="!horses$ | async"><i>There are no horses yet.</i></p>
</div>

<div *ngIf="error" class="alert alert-danger">
    <strong>Error! </strong> {{errorMessage}}
    <hr>
    <button (click)="loadHorses()" type="button" class="btn btn-secondary">Reload</button>
</div>