<h1 class="display-4" style="margin: 20px 0">Horses</h1>

<div *ngIf="!error">
    <a role="button" class="btn btn-primary" style="margin-bottom: 20px;" routerLink="new">New Horse</a>

    <div *ngIf="horses$ | async" class="row">
        <div *ngFor="let horse of horses$ | async" class="col-md-6" style="padding-bottom: 20px;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{horse.name}}</h5>
                    <p *ngIf="horse.description" class="card-text">{{horse.description}}</p>
                    <p *ngIf="!horse.description" class="card-text"><i>no description available</i></p>
                    <a routerLink="{{horse.id}}" class="card-link">Details</a>
                    <a routerLink="{{horse.id}}/edit" class="card-link">Edit</a>
                    <a class="card-link">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <p *ngIf="!horses$ | async"><i>There are no horses yet.</i></p>
</div>

<div *ngIf="error" class="alert alert-danger">
    <strong>Error! </strong> {{errorMessage}}
    <hr>
    <button (click)="loadHorses()" type="button" class="btn btn-secondary">Reload</button>
</div>