<form (ngSubmit)="onSubmit()" #sportForm="ngForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Horse Name" required [(ngModel)]="horse.name"
            name="name">
        <small [ngClass]="{'text-danger' : horse.name.length > 256,'text-muted' : horse.name.length <= 256 }"
            class=" form-text">{{horse.name.length}} / 256</small>
    </div>
    <div class="form-group">
        <label for="description">Description (optional)</label>
        <textarea class="form-control" id="description" rows="3" [(ngModel)]="horse.description"
            name="description"></textarea>
        <small *ngIf="!horse.description" class=" form-text text-muted">0 / 1024</small>
        <small *ngIf="horse.description"
            [ngClass]="{'text-danger' : horse.description.length > 1024,'text-muted' : horse.description.length <= 1024 }"
            class=" form-text">{{horse.description.length}} / 1024</small>
    </div>
    <div class="form-group">
        <label for="birthDay">Birthdate</label>
        <input type="date" class="form-control" id="birthDay" placeholder="Birthdate" required
            [(ngModel)]="horse.birthDay" name="birthDay">
    </div>
    <div class="form-group">
        <label for="sex">Sex</label>
        <select class="form-control" id="sex" required [(ngModel)]="horse.sex" name="sex">
            <option [value]="null">-- Choose an option --</option>
            <option>female</option>
            <option>male</option>
        </select>
    </div>

    <div class="form-group">
        <label for="sport">Favorite Sport (optional)</label>
        <select class="form-control" id="sport" [(ngModel)]="horse.favoriteSportId" name="sport">
            <option [value]="null">-- Choose an option --</option>
            <option *ngFor="let sport of sports" [value]="sport.id">{{sport.name}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="father">Father (optional)</label>
        <select class="form-control" id="father" [(ngModel)]="horse.fatherId" name="father">
            <option [value]="null">-- Choose an option --</option>
            <option *ngFor="let horse of maleHorses" [value]="horse.id">{{horse.name}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="mother">Mother (optional)</label>
        <select class="form-control" id="father" [(ngModel)]="horse.motherId" name="mother">
            <option [value]="null">-- Choose an option --</option>
            <option *ngFor="let horse of femaleHorses" [value]="horse.id">{{horse.name}}</option>
        </select>
    </div>

    <div class=" text-right">
        <a role="button" class="btn btn-secondary mr-1" routerLink="/horses">Cancle</a>
        <button type="submit" class="btn btn-primary" [disabled]="!sportForm.form.valid">{{buttonName}}</button>
    </div>
</form>