<form>
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" id="name" [readonly]="readonly"
                [ngClass]="{'form-control-plaintext': readonly, 'form-control': !readonly}" [value]="horse.name">
        </div>
    </div>
    <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <!--<input type="text" id="name" ngReadonly="readonly" [ngClass]="{'form-control-plaintext': readonly}"
                [value]="horse.name" class="form-control">-->
            <textarea id="description" [readonly]="readonly" rows="3" [value]="horse.description"
                [ngClass]="{'form-control-plaintext': readonly, 'form-control': !readonly}"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="birthday" class="col-sm-2 col-form-label">Birthday</label>
        <div class="col-sm-10">
            <input type="text" id="birthday" [readonly]="readonly"
                [ngClass]="{'form-control-plaintext': readonly, 'form-control': !readonly}" [value]="horse.birthDay">
        </div>
    </div>
    <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Sex</label>
        <div class="col-sm-10">
            <input type="text" id="sex" [readonly]="readonly"
                [ngClass]="{'form-control-plaintext': readonly, 'form-control': !readonly}" [value]="horse.sex">
        </div>
    </div>
    <div class="form-group row">
        <label for="favoriteSport" class="col-sm-2 col-form-label">Favorite Sport</label>
        <div class="col-sm-10">
            <input type="text" id="favoriteSport" [readonly]="readonly"
                [ngClass]="{'form-control-plaintext': readonly, 'form-control': !readonly}" [value]="horseSport">
        </div>
    </div>
    <div class="form-group row">
        <label for="father" class="col-sm-2 col-form-label">Father</label>
        <div class="col-sm-10">
            <input type="text" id="father" [readonly]="readonly"
                [ngClass]="{'form-control-plaintext': readonly, 'form-control': !readonly}" [value]="horseFather.name">
        </div>
    </div>
    <div class="form-group row">
        <label for="mother" class="col-sm-2 col-form-label">Mother</label>
        <div class="col-sm-10">
            <input type="text" id="mother" [readonly]="readonly"
                [ngClass]="{'form-control-plaintext': readonly, 'form-control': !readonly}" [value]="horseMother.name">
        </div>
    </div>
</form>