<h1 class="display-4" style="margin: 20px 0">Sports</h1>

<div *ngIf="!error">
    <a role="button" class="btn btn-primary" style="margin-bottom: 20px;" routerLink="new">New Sport</a>

    <div *ngIf="sports$ | async" class="row">
        <div *ngFor="let sport of sports$ | async" class="col-md-4" style="padding-bottom: 20px;">
            <app-sport-card [sport]="sport"></app-sport-card>
        </div>
    </div>

    <p *ngIf="!sports$ | async"><i>There are no sports yet.</i></p>
</div>

<div *ngIf="error" class="alert alert-danger">
    <strong>Error! </strong> {{errorMessage}}
    <hr>
    <button (click)="loadSports()" type="button" class="btn btn-secondary">Reload</button>
</div>