<h1 class="display-4" style="margin: 20px 0">Horse Details</h1>

<!--
<app-horse-form *ngIf="!error" [horse]="horse" [readonly]="true">
</app-horse-form>
-->

<div *ngIf="!error && horse" class="card mx-auto" style="max-width: 32rem">
    <div class="card-body">
        <h5 class="card-title">{{ horse.name }}</h5>
        <p *ngIf="horse.description" style="white-space: pre-line" class="card-text">{{ horse.description }}</p>
        <p *ngIf="!horse.description" class="card-text"><i>no description</i></p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <strong>Birthdate: </strong> {{ horse.birthDay }}
        </li>
        <li class="list-group-item"><strong>Sex: </strong> {{ horse.sex }}</li>
        <li class="list-group-item">
            <strong>Favorite Sport: </strong>
            <span *ngIf="horse.favoriteSportId">{{ horse.favoriteSportName }}</span>
            <i *ngIf="!horse.favoriteSportId">not set</i>
        </li>
        <li class="list-group-item">
            <strong>Mother: </strong>
            <a [routerLink]="['/horses', horse.motherId]" *ngIf="horse.motherId">{{
                horse.motherName
                }}</a>
            <i *ngIf="!horse.motherId">not set</i>
        </li>
        <li class="list-group-item">
            <strong>Father: </strong>
            <a [routerLink]="['/horses', horse.fatherId]" *ngIf="horse.fatherId">{{
                horse.fatherName
                }}</a>
            <i *ngIf="!horse.fatherId">not set</i>
        </li>
    </ul>
    <div class="card-body">
        <a href="#" class="btn btn-outline-primary btn-sm mr-1">Family Tree</a>
        <a routerLink="edit" class="btn btn-outline-primary btn-sm mr-1">Edit</a>
        <a routerLink="delete" class="btn btn-outline-danger btn-sm mr-1">Delete</a>
    </div>
</div>

<div *ngIf="error" class="alert alert-danger">
    <strong>Error! </strong> {{ errorMessage }}
    <hr />
    <button (click)="loadData()" type="button" class="btn btn-secondary">
        Reload
    </button>
</div>