<h1 class="display-4" style="margin: 20px 0">New Sport</h1>

<div *ngIf="error" class="alert alert-danger">
    <strong>Error! </strong> {{errorMessage}}
</div>

<form (ngSubmit)="onSubmit()" #sportForm="ngForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Sport Name" required [(ngModel)]="sport.name"
            name="name">
        <small [ngClass]="{'text-danger' : sport.name.length > 256,'text-muted' : sport.name.length <= 256 }"
            class=" form-text">{{sport.name.length}} / 256</small>
    </div>
    <div class="form-group">
        <label for="description">Description (optional)</label>
        <textarea class="form-control" id="description" rows="3" [(ngModel)]="sport.description"
            name="description"></textarea>
        <small
            [ngClass]="{'text-danger' : sport.description.length > 1024,'text-muted' : sport.description.length <= 1024 }"
            class=" form-text">{{sport.description.length}} / 1024</small>
    </div>
    <div class=" text-right">
        <a role="button" class="btn btn-secondary mr-1" routerLink="/sports">Cancle</a>
        <button type="submit" class="btn btn-primary" [disabled]="!sportForm.form.valid">Create</button>
    </div>
</form>